[submodule "Application/server"]
	path = Application/server
	url = git@github.com:TennersUnipd/Etherless-server.git
[submodule "Application/smart"]
	path = Application/smart
	url = git@github.com:TennersUnipd/Etherless-smart.git
[submodule "Application/cli"]
	path = Application/cli
	url = git@github.com:TennersUnipd/Etherless-Cli.git
[submodule "Docs"]
	path = Docs
	url = git@github.com:TennersUnipd/Docs.git