[submodule "application/etherless-server"]
	path = application/etherless-server
	url = https://github.com/TennersUnipd/etherless-server.git
[submodule "application/etherless-cli"]
	path = application/etherless-cli
	url = https://github.com/TennersUnipd/etherless-cli.git
[submodule "application/etherless-smart"]
	path = application/etherless-smart
	url = https://github.com/TennersUnipd/etherless-smart.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/TennersUnipd/sweDocs.git
